<div class="alert alert-block alert-danger">
<h2>Table of Contents</h2>
</div>

<a href='#1.0'>Import libraries</a><br>
<a href='#2.0'>Connect to the mysql database</a><br>
<a href='#3.0'>Load data</a><br>
<a href='#4.0'>Dataframes to SQL</a><br>
<a href='#5.0'>Main Dataframe replaced with index values to SQL</a><br>

<a id='1.0'></a>
<div class="alert alert-block alert-danger">
<h2>Import Libraries</h2>
</div>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'    # ignore information messages

import math
import numpy as np 
import pandas as pd
# display all of the columns
pd.set_option('display.max_columns', None)

<a id='2.0'></a>
<div class="alert alert-block alert-danger">
<h2>Connect to the mysql database</h2>
</div>

<div class="alert alert-block alert-warning">
        Read the cvc file with username and password
</div>

In [2]:
mysql_user_pass = pd.read_csv('../mysql_user_pass.csv', index_col=0)
username = mysql_user_pass['mysql_user'][0]
password = mysql_user_pass['mysql_pass'][0]

<div class="alert alert-block alert-warning">
        Create an engine to connect to the mysql database
</div>

In [3]:
from sqlalchemy import create_engine

engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost:3306/EMPCaseStudy_v1')

<a id='3.0'></a>
<div class="alert alert-block alert-danger">
<h2>Load data</h2>
</div>

At EMP we deal daily with a great amount of data from different sources (from web, shop, inventory, purchasing, logistics, finance, etc.), produced by the customer journey.
In this challenge, we will focus on the sales data, produced by customers visiting and purchasing items from our web shop (emp.de in Germany).

In [4]:
df = pd.read_csv('../all_dfs/EMP/EMPCaseStudy_v1.csv')
df.head()

,CustomerHash,OrderHash,Customer_Age,Gender,Account_Age,AffinityProductGender,Category_Reporting,Genre,ClientType,PartnerProgram1,PartnerProgram2,FirstOrder,Marketing_Channel,Pieces_Ordered,Pieces_Outbound,Pieces_Returns,Pieces_Fulfilled,OrderValue,Revenue_Goods,Delivery_Value,Return_Value,Discount_Total,OrderProfit,DateTimeOrder
0,0xA09E6101DF2E146E55BA9183F8E3994D98F5C963,0x8B9731CAF4EDB3333DC0B29D92399C654692BFE3,53.0,Man,10,Female,Fashion / Private label - Apparel,Private label,desktop,No,No,0,direct,1,1.0,NaN,1.0,53.2185,53.22,53.22,NaN,-5.5966,32.8376,2019-11-29
1,0x678B7B262CE7FFE0EEC0AD8FD784AA1F46C65875,0xBFD162E330E8783658BB4F2A26B05A300FEC6253,NaN,Woman,0,Unisex,Warner D2C,Warner D2C,mobile,No,No,1,seo,1,1.0,NaN,1.0,29.4034,29.40,29.40,NaN,-12.6100,17.0572,2019-11-23
2,0xEDC6F42832CD97571C60E48212855E142D2309C4,0x5513669E48EAEB800E965C9428531EBCAE3EC20A,NaN,Man,0,Male,Fashion / Private label - Apparel,Private label,mobile,No,No,0,newsletter,1,1.0,NaN,1.0,33.6050,33.61,33.61,NaN,0.0000,17.1399,2019-11-28
3,0x1745982240E0CC07B67EE14FC23237BEDBF90CB6,0xAB171C94A128A5607D282305580E394B45858A91,21.0,Man,0,Female,BSC Membership,Other,app,Yes,No,0,newsletter,1,1.0,NaN,1.0,8.3613,8.36,8.36,NaN,0.0000,8.0383,2019-11-26
4,0x2E062AD2957C94EB084BBE68C06531010EC45CE4,0x913E11D078A059D63B31101C8B2A2141C89EA12F,42.0,Undefined,2,Unisex,BSC Membership,Other,desktop,Yes,No,0,direct,1,1.0,NaN,1.0,8.3613,8.36,8.36,NaN,0.0000,8.1544,2019-11-25

<div class="alert alert-block alert-warning">
        Convert to NaN
</div>

In [5]:
ind_Gender_Undefined = df[df['Gender'] == 'Undefined'].index
df.loc[ind_Gender_Undefined, 'Gender'] = np.nan

ind_Gender_UNKNOWN = df[df['Gender'] == 'UNKNOWN'].index
df.loc[ind_Gender_UNKNOWN, 'Gender'] = np.nan

In [6]:
ind_Clienttype_nan = df[df['ClientType'] == 'nan'].index
df.loc[ind_Clienttype_nan, 'ClientType'] = np.nan

In [7]:
ind_Marketing_Channel_nan = df[df['Marketing_Channel'] == 'nan'].index
df.loc[ind_Marketing_Channel_nan, 'Marketing_Channel'] = np.nan

<div class="alert alert-block alert-warning">
        Parse the date feature
</div>

In [8]:
df['DateTimeOrder'] = pd.to_datetime(df['DateTimeOrder'], format = '%Y-%m-%d')

<div class="alert alert-block alert-success">
    <h4>
        Check categorical columns
    </h4>
</div>

In [9]:
categorical_feature_cols = [i for i in df.columns if df[i].dtype == "object"]
print(categorical_feature_cols)

['CustomerHash', 'OrderHash', 'Gender', 'AffinityProductGender', 'Category_Reporting', 'Genre', 'ClientType', 'PartnerProgram1', 'PartnerProgram2', 'Marketing_Channel']

<a id='4.0'></a>
<div class="alert alert-block alert-danger">
<h2>Dataframes to SQL</h2>
</div>

In [10]:
from sklearn.preprocessing import LabelEncoder

def uniquestosql(train, col, test=pd.DataFrame()):
    
    le = LabelEncoder()
    
    # encode items but not nans
    train_wo_null = train[col][train[col].notnull()]
    train[col] = pd.Series(le.fit_transform(train_wo_null),index=train_wo_null.index)
    
    # create a dataframe with unique values to send to sql
    train_unique = pd.DataFrame(data=le.classes_, index=le.transform(le.classes_), columns=[col])

    # send the dataframe to sql
    # if_exists{‘fail’, ‘replace’, ‘append’}, default ‘fail’
    train_unique.to_sql(col, con=engine, if_exists='replace')
    
    if len(test)>0:
        test_wo_null = test[col][test[col].notnull()]
        test[col] = pd.Series(le.fit_transform(test_wo_null),index=test_wo_null.index)
        
        return train, test
    return train

In [11]:
for col in categorical_feature_cols:
    print(col)
    df = uniquestosql(df, col)

CustomerHash
OrderHash
Gender
AffinityProductGender
Category_Reporting
Genre
ClientType
PartnerProgram1
PartnerProgram2
Marketing_Channel

In [12]:
df.head(3)

,CustomerHash,OrderHash,Customer_Age,Gender,Account_Age,AffinityProductGender,Category_Reporting,Genre,ClientType,PartnerProgram1,PartnerProgram2,FirstOrder,Marketing_Channel,Pieces_Ordered,Pieces_Outbound,Pieces_Returns,Pieces_Fulfilled,OrderValue,Revenue_Goods,Delivery_Value,Return_Value,Discount_Total,OrderProfit,DateTimeOrder
0,439177,610384,53.0,0.0,10,0,5,7,1.0,0,0,0,2.0,1,1.0,NaN,1.0,53.2185,53.22,53.22,NaN,-5.5966,32.8376,2019-11-29
1,283214,838429,NaN,1.0,0,2,13,8,2.0,0,0,1,14.0,1,1.0,NaN,1.0,29.4034,29.40,29.40,NaN,-12.6100,17.0572,2019-11-23
2,650737,371410,NaN,0.0,0,1,5,7,2.0,0,0,0,6.0,1,1.0,NaN,1.0,33.6050,33.61,33.61,NaN,0.0000,17.1399,2019-11-28

<a id='5.0'></a>
<div class="alert alert-block alert-danger">
<h2>Main Dataframe replaced with index values to SQL</h2>
</div>

In [13]:
df.to_sql('EMP_main', con=engine, if_exists='replace')